body {
	background: url(../img/crossword.png)
}

#results-header {
	top: 0;
	min-height: 80px;
	margin-bottom: 30px;
}

#main-screen {
	min-height: 100vh;
}

.search-buttons {
	.button {
		margin: 0 5px;
		width: 90px;
	}
}

#search-results {
	min-height: 80vh;
}

#wiki-logo {
	width: 150px;
	height: 150px;
	margin-bottom: 10px;
	opacity: .8;
}

#search-form-wrapper {
	margin-top: -160px;
}

.search-item {
	padding: 8px 80px;
	//	padding-left: 110px;
	background-position: 10px 10px;
	background-repeat: no-repeat;
}

.search-item-title a {
	font-weight: 600;
	color: midnightblue;
	margin-right: 10px;
}

.search-item-preview {
	color: black;
}

.modified-date {
	font-size: 0.7em;
	color: gray;
	vertical-align: bottom;
	line-height: 22px;
	white-space: nowrap;
}