body {
	background: url(../img/crossword.png)
}

#results-header {
	top: 0;
	min-height: 50px;
//	background-color: burlywood;
}

#main-screen {
	min-height: 100vh;
}

.search-buttons {
	.button {
		margin: 0 5px;
		width: 90px;
	}
}

#search-results {
	min-height: 80vh;
}